<div class="container" id="container">
  <h2><%= @template.name %></h2>
  <div class="row">
    <div class="col-lg-6">
      <textarea rows="10" id="original"><%= @template.content %></textarea>
    </div>
    <div class="col-lg-6">
      <textarea rows="10" id="final"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= form_tag mass_update_tag_path, method: :put, id: "update_tag_form" do %>
        <% count = @tags.count %>
        <% @tags.each_with_index do |tag, index| %>
          <% break if index == count %>
          <label><%= "{a" + (index + 1).to_s + "}" %> <%= tag.description %></label>
          <%= hidden_field_tag "tag_id[]", tag.id %>
          <%= text_field_tag "content[]", tag.content, class: "replace_element" %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-lg-6"><%= button_tag "Update Tags", id: "submit_updates", class: "btn btn-primary" %></div>
        <div class="col-lg-6 "><%= button_tag "Replace!", id: "button", class: "btn btn-primary" %></div>
      </div>

      <hr>
      <h3>Add Tag</h3>
      <%= form_for(@tag, url: tags_path(template_id: @template)) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <label><%= "{a" + (@tags.count + 1).to_s + "}" %></label>
        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.label :content %>
        <%= f.text_area :content, rows: 10 %>

        <%= f.submit "Add Tag", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>